<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>recoding diet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>445461A51E8AB99D0097EA25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>445461BB1E8AB99D0097EA25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>445461C61E8AB99D0097EA25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
